extends layout

block content
  div(class="w3-container w3-teal")
    h1 CLAV: Classificação e Avaliação da Informação Pública - processos e termos de índice
  a(href='/classes') Classes
  br
  a(href='/termos') Termos de índice
